.container {
  margin: 5.25rem 0 5.25rem 0;
}
img {
  margin: 0em 1em 0.5em 0em;
}
@media (max-width: 575.98px) {
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .container {
    position: sticky;
    margin: 7.75rem 0 7.75rem 0;
  }
}
